@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --body-color: #efebeb;
    --container-color: #ffffff;
    --font-color: #585555;
    --remove-btn-color: #f96262;
    --add-btn-color: #5b8fef;
    --link-color: #3b3beb;

    --box-shadow: 2px 2px 20px #e7e1e1;
}

* {
    box-sizing: border-box;
    outline: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5;

    margin: 0;
    padding: 0;

    background: var(--body-color);
    color: var(--font-color);
}

.container {
    margin: 100px auto;
    padding: 50px 150px;

    background: var(--container-color);

    box-shadow: var(--box-shadow);
    border-radius: 15px;

    text-align: center;
}

.container p .input-task {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    border: none;
    box-shadow: var(--box-shadow);
    background-color: var(--body-color);
    transition: .3s;
}

.container p .input-task:hover {
    background-color: var(--container-color);
}

.container p .btn-task,
.container .tasks .btn-task {
    padding: 6px 14px;
    border-radius: 50px;
    border: none;
    transition: .3s;
    box-shadow: var(--box-shadow);
}

.container .tasks .btn-task {
    background-color: var(--container-color);
}

.container p .btn-task:hover,
.container .tasks .btn-task:hover {
    cursor: pointer;
    background-color: var(--add-btn-color);
    color: var(--container-color);
}

.container .tasks .btn-task:hover {
    background-color: var(--remove-btn-color);
    color: var(--container-color);
}

.container hr {
    color: var(--font-color);
}

.container .tasks {
    text-align: center;
    list-style: none;
    padding: 0;
}

.container .tasks li {
    display: flex;
    justify-content: space-between;
    background-color: var(--body-color);
    color: var(--font-color);
    margin: 5px 0;
    padding: 6px 12px;
    border-radius: 15px;
}

.footer {
    padding: 20px;
    background-color: var(--container-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--font-color);
}

.footer p {
    margin: 5px;
}

.footer a {
    text-decoration: none;
    color: var(--link-color);
}